<!DOCTYPE html>
<html>
<head>
    <title>Music Video Page</title>
    <link rel="stylesheet" type="text/css" href="~/wwwroot/style.css">
</head>
<body>
    <h1>My Favorite Music Video</h1>
    <div id="videoContainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Nnop2walGmM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <script src="~/wwwroot/animation.js"></script>
</body>
</html>

